<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:webflow-config="http://www.springframework.org/schema/webflow-config"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/security 
       http://www.springframework.org/schema/security/spring-security.xsd 
       http://www.springframework.org/schema/webflow-config http://www.springframework.org/schema/webflow-config/spring-webflow-config.xsd">


<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver" />
        <property name="url" value="jdbc:h2:tcp://localhost/~/shop" />
        <property name="username" value="sa"/>
        <property name="password" value="" />
    </bean>

    <security:http auto-config="true">
    <security:csrf disabled="true"/>       
    
    <security:intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')"/>
    <security:intercept-url pattern="/user**" access="hasRole('ROLE_USER')"/>
    
    
    <security:form-login login-page="/login"
    authentication-failure-url="/login?error"
    login-processing-url="/j_spring_security_check"   
    default-target-url="/home"
    username-parameter="username"            
    password-parameter="password" />
    
 	<security:logout logout-success-url="/login?logout"
    logout-url="/j_spring_security_logout" />
    
        
    </security:http>
    <security:authentication-manager> <!-- if user is authenticated and  authorised user, allowed -->
    <security:authentication-provider>
    <security:jdbc-user-service
    						 data-source-ref="dataSource"
    						authorities-by-username-query="SELECT username, role FROM authorities WHERE username = ?"
    						users-by-username-query="SELECT username, password,enabled FROM users WHERE username = ?" />
    
    </security:authentication-provider>    
    </security:authentication-manager>
 </beans>  
     